*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
}
div h1{
    
    color: #5B88FC;
font-family: Inter;
font-size: 220px;
font-style: normal;
font-weight: 600;
line-height: norma
}


div h2{
    color: #EBEDF0;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 120px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


div img{
    width: 359.135px;
height: 341.59px;
flex-shrink: 0;
}